#light {
  --md-sys-color-primary: rgb(0 98 157);
  --md-sys-color-surface-tint: rgb(0 98 157);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(66 166 246);
  --md-sys-color-on-primary-container: rgb(0 57 95);
  --md-sys-color-secondary: rgb(141 53 156);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(170 80 183);
  --md-sys-color-on-secondary-container: rgb(255 251 255);
  --md-sys-color-tertiary: rgb(132 66 158);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(204 132 229);
  --md-sys-color-on-tertiary-container: rgb(88 20 114);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(247 249 255);
  --md-sys-color-on-background: rgb(24 28 33);
  --md-sys-color-surface: rgb(247 249 255);
  --md-sys-color-on-surface: rgb(24 28 33);
  --md-sys-color-surface-variant: rgb(219 227 239);
  --md-sys-color-on-surface-variant: rgb(64 71 81);
  --md-sys-color-outline: rgb(112 120 130);
  --md-sys-color-outline-variant: rgb(191 199 211);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(45 49 54);
  --md-sys-color-inverse-on-surface: rgb(238 241 248);
  --md-sys-color-inverse-primary: rgb(153 203 255);
  --md-sys-color-primary-fixed: rgb(207 229 255);
  --md-sys-color-on-primary-fixed: rgb(0 29 51);
  --md-sys-color-primary-fixed-dim: rgb(153 203 255);
  --md-sys-color-on-primary-fixed-variant: rgb(0 74 120);
  --md-sys-color-secondary-fixed: rgb(255 214 254);
  --md-sys-color-on-secondary-fixed: rgb(53 0 63);
  --md-sys-color-secondary-fixed-dim: rgb(249 172 255);
  --md-sys-color-on-secondary-fixed-variant: rgb(117 27 132);
  --md-sys-color-tertiary-fixed: rgb(249 216 255);
  --md-sys-color-on-tertiary-fixed: rgb(50 0 70);
  --md-sys-color-tertiary-fixed-dim: rgb(237 177 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(106 40 132);
  --md-sys-color-surface-dim: rgb(215 218 225);
  --md-sys-color-surface-bright: rgb(247 249 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(241 244 251);
  --md-sys-color-surface-container: rgb(235 238 245);
  --md-sys-color-surface-container-high: rgb(229 232 239);
  --md-sys-color-surface-container-highest: rgb(223 226 233);
  --background-image: url(../assets/background-light.jpg);
}
