.homeContainer {
  font-family: "Jersey 10", system-ui;

  min-height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;

  border-radius: var(--border-radius-retro);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  transition: background-image 0.5s cubic-bezier(0.2, 0, 0, 1);
  background-image: var(--background-image);
}

.homePrimary {
  transition: inherit;
  width: 100%;
}

.homeSecondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.headerMain {}

.headerTitle {
  font-size: 5em;
  font-weight: 475;
  line-height: 1.1;

  font-variation-settings: var(--font-settings-title);
  display: none;
}

.headerTitlePre {
  color: transparent;
  -webkit-text-stroke: 2px var(--md-sys-color-on-surface);
}

.headerSubTitleName {
  border: 2px solid var(--md-sys-color-primary);
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  box-shadow: inset 0px 0px 0.5em 0px var(--md-sys-color-primary-container),
    0px 0px 0.5em 0px var(--md-sys-color-primary-container);
  text-transform: uppercase;
  color: var(--md-sys-color-secondary-container);
}

.headerText {
  font-size: 2em;
  max-width: 768px;
  font-variation-settings: var(--font-settings-title-menu);
  align-self: center;
  font-family: "Jersey 10", system-ui;
  line-height: normal;
  text-transform: lowercase;
}

.quickLinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 0 10%;

  font-variation-settings: var(--font-settings-title-sub);

  font-family: "Jersey 10", system-ui;
}

.quickLinksItem {
  padding: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  cursor: pointer;

  position: relative;
  overflow: hidden;
  z-index: 1;

  font-size: 1.67em;

  border: 4px solid;
  border-radius: var(--border-radius-retro);
}

.quickLinksItem::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
  opacity: 0.3;
  background-size: 100% 4px;
  pointer-events: none;
  z-index: -1;
}

.quickLinksItemBlue {
  border-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-primary);
  background-color: var(--md-sys-color-on-primary);
  box-shadow: inset 0px 0px 0.5em 0px var(--md-sys-color-primary-container),
    0px 0px 0.5em 0px var(--md-sys-color-primary-container);
}

.quickLinksItemBlue:hover {
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-secondary-container);
}

.quickLinksItemPurple {
  border-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-secondary);
  background-color: var(--md-sys-color-on-secondary);
  box-shadow: inset 0px 0px 0.5em 0px var(--md-sys-color-secondary-container),
    0px 0px 0.5em 0px var(--md-sys-color-secondary-container);
}

.quickLinksItemPurple:hover {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}

.gameContainer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1rem;
}

.pacmanContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: var(--border-radius-retro);
  border: 6px double var(--md-sys-color-primary-container);
  box-shadow: inset 0px 0px 0.5em 0px var(--md-sys-color-primary-container),
    0px 0px 0.5em 0px var(--md-sys-color-primary-container);
  background-color: black;
  color: white;
  /* border-left: none;
  border-right: none; */
  position: relative;
  padding: 1.5rem;
}

.gameContainerSideContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  font-family: "Press Start 2P", system-ui;
  font-size: 0.75rem;
}

.gameHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.gameFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0.5rem 0;
}

.oneUpContainer {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.5em;
  animation: blink 0.5s infinite steps(2, start);
  text-shadow: 2px 2px 0px #000000;
}

.scoreContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 5px;
  font-size: 1.5em;
}

.loadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--md-sys-color-primary);
  text-shadow: 0 0 5px var(--md-sys-color-primary),
    0 0 10px var(--md-sys-color-primary-container);

  animation: blink 1.5s infinite steps(2, start);

  font-size: 2.5em;
  letter-spacing: 0.25em;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}


@media screen and (max-width: 768px) {
  .homeContainer {
    background-image: unset !important;
    justify-content: flex-start;
    height: unset;
    font-family: var(--default-font);
  }

  .homePrimary {
    background-position: center;
    background-size: cover;
    border-radius: var(--border-radius);
    background-image: var(--background-image-default);
    width: 100%;
  }

  .header {
    gap: 1rem;
    margin: 4rem 2rem;
  }

  .headerTitle {
    display: block;
    font-size: 3.25em;
  }

  .headerText {
    font-size: 1em;
    text-transform: none;
    font-family: var(--default-font);
    text-transform: unset;
  }

  .headerSubTitleName {
    display: none;
  }

  .quickLinks {
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    padding: 0;
  }

  .quickLinksItem {
    width: 100%;
    aspect-ratio: unset;
    height: auto;
    justify-content: flex-start;

    height: 7rem;
    border-radius: var(--border-radius);
    font-weight: 500;
    cursor: pointer;

    font-family: var(--default-font);
    font-size: 1.25rem;
    text-transform: none;
    background-color: var(--md-sys-color-surface-container);
    font-variation-settings: var(--font-settings-title-sub);

    box-shadow: none;
    color: inherit;
    border: none;

    background: var(--md-sys-color-surface-container);
  }

  .quickLinksItem::after {
    background: none;
  }

  .pacmanContainer {
    display: none;
  }
}