.homeContainer {
  min-height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;

  border-radius: var(--border-radius-retro);

  background-size: cover;
  background-repeat: no-repeat;

  transition: background-image 0.5s cubic-bezier(0.2, 0, 0, 1);
  background-image: var(--background-image);
}

.homePrimary {
  transition: inherit;
  width: 100%;
}

.homeSecondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.headerMain {
}

.headerTitle {
  font-size: 5em;
  font-weight: 475;
  line-height: 1.1;

  font-variation-settings: var(--font-settings-title);
  display: none;
}

.headerTitlePre {
  color: transparent;
  -webkit-text-stroke: 2px var(--md-sys-color-on-surface);
}

.headerText {
  font-size: 1rem;
  max-width: 768px;
  font-variation-settings: var(--font-settings-title-menu);
  align-self: center;
  text-transform: uppercase;
  font-family: "Press Start 2P", system-ui;
}

.quickLinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 0 10%;

  font-variation-settings: var(--font-settings-title-sub);

  text-transform: uppercase;
  font-family: "Press Start 2P", system-ui;
  font-size: 0.75rem;
}

.quickLinksItem {
  padding: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  cursor: pointer;

  position: relative;
  overflow: hidden;
  z-index: 1;

  font-size: 0.8rem;

  border: 4px solid;
  border-radius: var(--border-radius-retro);
}

.quickLinksItem::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%);
  opacity: 0.3;
  background-size: 100% 4px;
  pointer-events: none;
  z-index: -1;
}

.quickLinksItemBlue {
  border-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-primary);
  background-color: var(--md-sys-color-on-primary);
  box-shadow: inset 0px 0px 0.5em 0px var(--md-sys-color-primary-container),
    0px 0px 0.5em 0px var(--md-sys-color-primary-container);
}

.quickLinksItemBlue:hover {
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-secondary-container);
}

.quickLinksItemPurple {
  border-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-secondary);
  background-color: var(--md-sys-color-on-secondary);
  box-shadow: inset 0px 0px 0.5em 0px var(--md-sys-color-secondary-container),
    0px 0px 0.5em 0px var(--md-sys-color-secondary-container);
}

.quickLinksItemPurple:hover {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
}

.pacmanContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 276px;
  border-radius: var(--border-radius-retro);
  border: 6px double var(--retro-blue);
  box-shadow: inset 0px 0px 0.5em 0px var(--retro-blue),
    0px 0px 0.5em 0px var(--retro-blue);
}

iframe {
  display: block;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .homeContainer {
    background-image: unset !important;
    justify-content: flex-start;
    height: unset;
  }

  .homePrimary {
    background-position: center;
    background-size: cover;
    border-radius: var(--border-radius);
    background-image: var(--background-image);
    width: 100%;
  }

  .header {
    gap: 1rem;
    margin: 4rem 2rem;
  }

  .headerTitle {
    display: block;
    font-size: 3.25em;
  }

  .headerText {
    font-size: 1em;
    text-transform: none;
    font-family: var(--default-font);
  }

  .quickLinks {
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    padding: 0;
  }

  .quickLinksItem {
    width: 100%;
    aspect-ratio: unset;
    height: auto;
    justify-content: flex-start;

    height: 7rem;
    border-radius: var(--border-radius);
    font-weight: 500;
    cursor: pointer;

    font-family: var(--default-font);
    font-size: 1.25rem;
    text-transform: none;
    background-color: var(--md-sys-color-surface-container);
    font-variation-settings: var(--font-settings-title-sub);

    box-shadow: none;
    color: inherit;
    border: none;

    background: var(--md-sys-color-surface-container);
  }

  .quickLinksItem::after {
    background: none;
  }

  .pacmanContainer {
    display: none;
  }
}
