body {
  margin: 0;
  font-family: "Open Sans", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  padding-left: 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header {
  font-weight: 300;
  width: 100%;
  margin-bottom: 5vh;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  height: 6vh;
}

.heading {
  font-size: 2.8rem;
}

.profile {
  font-size: 1.8rem;
  margin-right: 5vh;
  display: flex;
  gap: 0.3rem;
  height: inherit;
}

.profile-name {
  text-align: right;
}

.profile-name-primary {
  line-height: 1.5rem;
}

.profile-name-sub {
  font-size: 1.2rem;
}

.profile-pic {
  text-align: center;
  align-items: center;
  height: inherit;
  margin-left: 1vh;
}

.sections-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2vh;
  width: 100%;
  min-height: 0;
}

.section-grid {
  margin: 1px;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vh;
  width: fit-content;
}

.two-elem-grid {
  display: flex;
  gap: 0.5vh;
}

.section-title {
  font-size: 1em;
  margin: 0;
  padding: 0;
  font-weight: 300;
  min-height: 1.5rem;
}

.elem img {
  width: 100%;
  padding: 0;
}

.tile {
  height: 21vh;
  background-color: green;
  align-content: end;
  text-align: left;
  box-sizing: border-box;
  padding: 0.5rem;
  font-size: 0.8em;
}
