@import "tailwindcss";

body {
  margin: 0;
  font-family: "Segoe UI", "Noto Sans", "Roboto", Tahoma, Geneva, Verdana,
    sans-serif;
  font-weight: 400;
}

.root-container {
  padding: 0% 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url("./assets/background.jpg");
  background-size: contain;
  color: white;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  /* height: 6vh; */
}

.heading {
  font-size: 3rem;
}

.profile {
  font-size: 1.8rem;
  display: flex;
  gap: 0.3rem;
}

.profile-name {
  line-height: 1.5rem;
}

.profile-name-primary {
  line-height: 1.5rem;
}

.profile-name-sub {
  font-size: 1.2rem;
}

.profile-pic {
  text-align: center;
  align-items: center;
  margin-left: 1vh;
}

.sections-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2vh;
  width: 100%;
  min-height: 0;
}

.section-grid {
  margin: 1px;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5vh;
  width: fit-content;
}

.two-elem-grid {
  display: flex;
  gap: 0.5vh;
}

.section-title {
  font-size: 1em;
  margin: 0;
  padding: 0;
  min-height: 1.5rem;
}

.elem img {
  width: 100%;
  padding: 0;
}

.tile {
  height: 21vh;
  background-color: green;
  align-content: end;
  text-align: left;
  box-sizing: border-box;
  padding: 0.5em;
  font-size: 0.9em;
}
