@import "tailwindcss";

.sidenav {
  height: 100vh;
  min-width: 6vw;
  position: fixed;
  background-color: #211f21;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vh;
}

.nav-elem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  gap: 0.5rem;
  font-weight: 500;
  font-variation-settings: "wdth" 10;
}

.nav-search {
  background-color: #553f5d;
  padding: 1rem;
}
