.sectionContainer {
  padding: 0 5rem;
  margin: 5rem 0;
}

.sectionHeader {
  font-size: 2.5em;
  font-weight: 500;
  margin: 1.5rem;

  font-variation-settings: var(--font-settings-title-sub);
}

.cardContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cardContainerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;

  border-radius: var(--border-radius);
}

.card {
  background-color: var(--md-sys-color-surface-container-low);
  border-radius: var(--border-radius);
  padding: var(--container-padding);

  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.cardHeader {
  font-variation-settings: var(--font-settings-title-sub);

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  h3 {
    font-size: 1rem;
    color: var(--md-sys-color-secondary);
  }
}

.cardText {
  font-size: 1rem;
}

.cardLink {
  text-decoration: underline;
  color: var(--md-sys-color-secondary);
}

.cardLink:hover {
  color: var(--md-sys-color-primary);
}

.cardChildren {
  h4 {
    font-weight: 500;
    color: var(--md-sys-color-primary);
  }
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.socialsTitle {
  display: none;
  margin-right: 0.5rem;

  h2 {
    font-size: 3em;
    font-weight: 450;
    font-variation-settings: "wdth" 25;
    line-height: normal;
    color: var(--md-sys-color-primary);
  }
}

.socialsItem {
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.75rem;
  border-radius: var(--border-radius-retro);
  cursor: pointer;

  aspect-ratio: 1 / 1;

  background-color: var(--md-sys-color-surface-container-lowest);
  color: var(--md-sys-color-primary);

  a {
    color: unset;
    fill: none;
  }

  h3 {
    font-size: 0.75rem;
  }
}

.socialsItem:hover {
  box-shadow: inset 0px 0px 0.5em 0px var(--md-sys-color-primary-container),
    0px 0px 0.5em 0px var(--md-sys-color-primary-container);
}

.stackIcon {
  width: 2.5rem;
  margin: 0.33rem;
}

@media screen and (max-width: 768px) {
  .sectionContainer {
    padding: 0;
  }

  .cardContainerGrid {
    grid-template-columns: 1fr;
  }

  .socials {
    background-color: var(--md-sys-color-surface-container);
    padding: 1.5rem;
    border-radius: var(--border-radius);
    width: 100%;
  }

  .socialsItem {
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    border-radius: 50%;
  }

  .socialsItem:hover {
    box-shadow: unset;
  }

  .socialsTitle {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}