.app-container {
  display: grid;
  grid-template-columns: 6rem 1fr;
  grid-template-rows: 100vh;

  height: 100vh;

  background-color: var(--md-sys-color-surface-container-lowest);
  color: var(--md-sys-color-on-surface);

  --border-radius: 1.5rem;
  --border-radius-retro: 0.5rem;

  --container-padding: 1.5rem;

  --default-font: "Roboto Flex", Roboto, Arial, sans-serif;

  --font-settings-title: "wdth" 145, "wght" 800;
  --font-settings-title-sub: "wdth" 125, "wght" 600;
  --font-settings-title-text: "wdth" 115, "wght" 475;
  --font-settings-text: "wdth" 115, "wght" 400;

  --retro-blue: #1b1bcf;
  --retro-purple: #a647af;

  font-variation-settings: var(--font-settings-title-text);
}

#main {
  padding: 0.75rem;
  grid-column: 2 / 3;
  overflow-y: scroll;
}

.home-section {
  height: 100%;
}

.about-me {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  font-variation-settings: var(--font-settings-text);

  img {
    border-radius: var(--border-radius);
    max-width: 200px;
  }
}

.about-website {
  a {
    text-decoration: underline;
    color: var(--md-sys-color-secondary);
  }

  a:hover {
    color: var(--md-sys-color-primary);
  }
}

@media screen and (max-width: 768px) {
  .app-container {
    grid-template-rows: 4rem 1fr;
    grid-template-columns: max-content;
  }

  #main {
    padding: 0.5rem;
    grid-row: 2;
  }

  .home-section {
    height: initial;
  }
}
