.sidenav {
  grid-column: 1 / 2;

  height: 100vh;
  width: 5.5rem;
  padding: 0.75rem;
  position: fixed;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  background-color: var(--md-sys-color-surface-container-low);

  font-family: "Jersey 10", monospace;
  font-size: 1.5rem;

  font-variation-settings: var(--font-settings-text);
}

.navHeader {
  display: none;
  color: var(--md-sys-color-primary);
  padding: 0.5rem;

  h3 {
    color: var(--md-sys-color-on-surface);
    line-height: 0;
    font-variation-settings: var(--font-settings-title);
  }
}

.navHeaderTitle {
  user-select: none;
  cursor: pointer;
  color: var(--md-sys-color-on-surface);
}

.navHeaderTitle:hover {
  color: var(--md-sys-color-primary);
}

.navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 0.75em;
  cursor: pointer;
}

.navItemIcon {
  padding: 0.4rem 0.75rem;
  margin-bottom: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-retro);
  border: 3px solid var(--md-sys-color-secondary-container);
  aspect-ratio: 1;
}

.navItemIcon:hover {
  background-color: var(--md-sys-color-on-secondary-container);
  box-shadow: inset 0px 0px 0.5em 0px var(--md-sys-color-secondary-container),
    0px 0px 0.5em 0px var(--md-sys-color-secondary-container);
}

.navItemSelected {
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary);
  font-variation-settings: "FILL" 1;
  transition: background-color 0.5s cubic-bezier(0.2, 0, 0, 1);
  box-shadow: inset 0px 0px 0.5em 0px var(--md-sys-color-secondary-container),
    0px 0px 0.5em 0px var(--md-sys-color-secondary-container);
}

.navItemSelected:hover {
  background-color: var(--md-sys-color-secondary);
  color: var(--md-sys-color-on-secondary);
}

.navModeSwitcher {
  padding: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary);
  border: 2px solid var(--md-sys-color-primary-container);
  display: flex;

  box-shadow: inset 0px 0px 0.5em 0px var(--md-sys-color-primary-container),
    0px 0px 0.5em 0px var(--md-sys-color-primary-container);
}

.navModeSwitcher:hover {
  background-color: var(--md-sys-color-on-primary-container);
  color: var(--md-sys-color-primary-container);
}

@media screen and (max-width: 768px) {
  .sidenav {
    flex-direction: row;
    height: 4rem;
    width: 100%;
    justify-content: space-between;
    grid-row: 1;
    grid-column: unset;

    background-color: var(--md-sys-color-surface-container-lowest);
  }

  .navItem {
    display: none;
  }

  .navHeader {
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
  }

  .navModeSwitcher {
    display: flex;
    padding: 0.5rem;
    background-color: inherit;
    color: var(--md-sys-color-on-surface);
    box-shadow: none;
    border: none;
  }
}
